@font-face {
    font-family: 'InstrumentSerif';
    src: url('./InstrumentSerif-Regular.ttf') format('opentype');
  }

  @font-face {
    font-family: 'OutwardBorders';
    src: url('./outward-borders.ttf') format('opentype');
  }

  @font-face {
    font-family: 'OutwardRound';
    src: url('./outward-round.ttf') format('opentype');
  }

  @font-face {
    font-family: 'KaushanScript';
    src: url('./KaushanScript-Regular.ttf') format('opentype');
  }

  @font-face {
    font-family: 'Zesstype Grafika';
    src: url('./ZESSTYPE-GRAFIKA.ttf') format('opentype');
  }